*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 70px;
}
nav ul li a, .conteiner h1, .conteiner h2, .conteiner-plataforms ul li{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    text-decoration: none;
}

header, #contact{
    padding:  4px 0;
    background-image: linear-gradient(to bottom, black 30%, rgb(50, 72, 45));
    color: aliceblue;
    margin: 0;
}

header .conteiner, header .conteiner-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
}
header .conteiner-titulo h1{
    margin-left: 32px;
    font-size: 32px;
}
nav ul li{
    display: inline;
    font-size: 16px;
    margin-right: 32px;

}
body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#part_I .conteiner{
    background: url(/imagens/the-last-of-us-part-I.avif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-discription, .conteiner-plataforms{
    background-color: #f2f2f2;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 0 16px 32px 0 black;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 90px;
}
.conteiner h2{
    color:black;
}

.conteiner-imagens ul, .conteiner-plataforms ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner-imagens ul li img{
    height: 250px;
    border-color: black;
    border-style:hidden;
    box-shadow: 0 16px 32px 0 black;
    margin: 90px 16px 150px 16px;
}

#part_II .conteiner{
    background-image: url(/imagens/da083fa5e19458dd750aa8a6ea30ba10bac6f87074693df5.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-plataforms ul li img {
    height: 115px;
    margin-right: 32px;
}

.card-trailer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card-trailer iframe{
    margin-left: 120px;
}


.conteiner-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;

}
form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: rgb(88, 116, 81);
    color:aliceblue;
    cursor: pointer;
}
form button:hover{
    background-color: #2ed634;
}

form input:focus, form textarea:focus{
    outline-color: #437d3f;
}
.conteiner-contacts h3{
    font-size: 64px;
    padding: 12px;
}

.conteiner-footer{
    background-color:rgb(24, 48, 18) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    font-weight: bolder;
    font-size: 20px;

}
.conteiner-footer img{
    height: 20px;
}
